<html>
    <head>
	{% if title %}
        <title> {{title}} - Neural Detection </title>
	{% else %}
	<title> Welcome! </title>
	{% endif %}
    <style type="text/css">
	.style_1 
	{ 
    	background: #FF9900;
    	padding: 5px;
   	padding-right: 20px; 
    	border: solid 1px black; 
   	float: left;
	height: 40px;
	font-size: 20pt;
	}
    </style>
    </head>
    <body LINK="red" VLINK="#00FF00" ALINK="blue"; bgcolor="#ccc">
	<hr>
	<div class="style_1"> <a href="{{url_for('home')}}"> Home </a></div>
	<div class="style_1"> <a href="{{url_for('upload')}}"> Upload </a></div>
	<div class="style_1"> <a href="{{url_for('link')}}"> Link </a> </div>
	<br>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
	<br>
	<br>
	<hr>
	{% block content %}
	{% endblock %}
    </body>
</html>